html
    head
        meta(charset='UTF-8')
        title test oug
        link(rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='css/style.css')
    body
        block content
